{% extends "AppNotas/base.html" %}
{% block content %}
<div class="container">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nota</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        <tr>
            <th scope="row">{{nota.id}}</th>
            <td>{{nota}}</td>
            <td>
                <a class="btn btn-primary btm-sm" href="{% url 'AppNota-editar' nota.id %}">Editar</a>
                <a class="btn btn-danger btm-sm" href="{% url 'AppNota-eliminar' nota.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}