{% extends "AppBodegas/base.html" %}
{% block content %}
<div class="container">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row">{{producto.id}}</th>
            <td>{{producto}}</td>
            <td>
                <a class="btn btn-primary btm-sm" href="{% url 'AppBodega-editar' producto.id %}">Editar</a>
                <a class="btn btn-danger btm-sm" href="{% url 'AppBodega-eliminar' producto.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}